<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" id="dark-mode" rel="stylesheet" href="">
<style type="text/css" id="dark-mode-custom-style"></style>
<head>
    <meta charset="utf-8">
    <title th:text="${prosjekt.prosjektnavn}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }</style>
    <script src="chrome-extension://ocggccaacacpienfcgmgcihoombokbbj/pages/client/livestartpage-message-add.js"></script>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:text="${prosjekt.prosjektnavn}"></a>
    <input class="form-control form-control-dark w-80" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="../../">
                            <i class="fa fa-home"></i>
                            Startsiden <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#editName">
                            <i class="fa fa-edit"></i>
                            Endre navn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#editBeskrivelse">
                            <i class="fa fa-edit"></i>
                            Endre beskrivelse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-camera"></i>
                            Endre bilde
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" data-toggle="modal" data-target="#removeProject">
                            <i class="fa fa-trash"></i>
                            Slett prosjekt
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Arrangement</span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#deltaarrangement">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2" th:each="deltagelse: ${prosjekt.arragementdeltagelser}">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="${prosjekt.prosjektid} + '/arrangement/' + ${deltagelse.arrangement.arrangementid}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            <span th:text="${deltagelse.arrangement.arrangementnavn}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9">
            <p class="display-5">
                Velg et arrangement fra listen til venstre for å få opp statistikk. <br>(hvis listen er tom er du ikke
                meldt på noen arrangementer)
            </p>
        </main>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editName" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-10">Gi et nytt navn på prosjektet</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:action="@{'/prosjekt/' + ${prosjekt.prosjektid} + '/endrenavn'}" method="post">
                    <div class="modal-body">

                        <label for="prosjektnavn" class="sr-only">Prosjektnavn</label>
                        <input type="text" id="prosjektnavn" class="form-control" name="prosjektnavn"
                               placeholder="Nytt navn"
                               required="" autofocus="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editBeskrivelse" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-10">Endre prosjektbeskrivelse</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:action="@{'/prosjekt/' + ${prosjekt.prosjektid} + '/endrebeskrivelse'}" method="post">
                    <div class="modal-body">

                        <label for="beskrivelse" class="sr-only">Beskrivelse</label>
                        <input type="text" id="beskrivelse" class="form-control" name="beskrivelse"
                               placeholder="Ny beskrivelse"
                               required="" autofocus="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="removeProject" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-10">Slett prosjekt</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:action="@{'/prosjekt/' + ${prosjekt.prosjektid} + '/remove'}" method="post">
                    <div class="modal-body">
                        <p>Er du sikker på du vil slette prosjektet?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn-danger">Ja</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Nei</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="deltaarrangement" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-10">Delta på arrangement</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="/arrangement/delta" method="post">
                    <div class="form-group">
                        <p class="underTitle">Velg arrangement:
                            <select class="selectpicker" data-live-search="true" id="arrangementid"
                                    name="arrangementid">
                                <option th:each="arrangement: ${arrangementer}"
                                        th:value="${arrangement.arrangementid}"
                                        th:name="${arrangement.arrangementnavn}"
                                        th:text="${arrangement.arrangementnavn}">
                                </option>
                            </select>
                        </p>
                    </div>
                    <input type="hidden" name="prosjektid" id="prosjektid" th:value="${prosjekt.prosjektid}">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Delta</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Avbryt</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>
</html>