<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endre prosjekt</title>
</head>
<body>
<h1>Atle ville at de som står på stand kan endre hvordan sine egne stands skal se ut i form av stemming, navn, bilder osv</h1>
<p>Ha en enkel form så de kan legge til en "plakat/logo" endre navn på prosjektet, endre sammarbeidsbedrift og generere qr koden igjen.
Hadde også vært greit om vi fikk til en måte å kunne eksportere prosjektsiden og/eller qrkoden så kan printes ut.
</p>
</body>
</html>