<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Mine stemmer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-hvl ">
    <a class="navbar-brand" href="https://www.hvl.no/">
        <img src="/images/hvl.svg" alt="logo" width="200" height="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon ">
            <i class="fg-hvl">Meny</i>
        </span>
    </button>
    <div th:switch="${level}" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul th:case="1" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrift/add">Registrer bedrift</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekt/add">Registrer prosjekt</a>
            </li>

            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/logout">Logg ut</a>
            </li>
        </ul>
        <ul th:case="2" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" th:href="@{'/dashboard/' + ${prosjektid}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/logout">Logg ut</a>
            </li>
        </ul>
        <ul th:case="*" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekt/add">Registrer prosjekt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/user/login">Logg inn</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
<p class="display-5">Mine stemmer</p>
<table summary=" "
       class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Prosjekt</th>
        <th>Verdi</th>
        <th>Tidspunkt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stemme: ${stemmer}">
        <td th:text="${stemme.prosjekt.prosjekt.prosjektnavn}"></td>
        <td th:text="${stemme.stemmeverdi}"></td>
        <td th:text="${stemme.stemmetidspunkt}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>