<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stem</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center stand_bg">
    <div class="col-md-4 p-lg-5 mx-auto my-5 padding-md bg-light shadow-sm rounded">
        <form action="/stem" method="post">
            <p><img th:src="@{~/{fil}(fil=${prosjekt.pictureurl})}" alt=""></p>
            <h1 class="display-5" th:inline="text">[[${prosjekt.prosjektnavn}]]</h1>
            <h1 class="underTitle" th:inline="text">[[${prosjekt.prosjektbeskrivelse}]]</h1>
            <h1 class="underTitle" th:inline="text">[[${samarbeidspartner.bedriftnavn}]]</h1>

            <p>Avgi stemme</p>
            <p>
                <input type="radio" name="verdi" value="0"/> 0<span class="space"></span>
                <input type="radio" name="verdi" value="1"/> 1<span class="space"></span>
                <input type="radio" name="verdi" value="2"/> 2<span class="space"></span>
                <input type="radio" name="verdi" value="3" checked/> 3<span class="space"></span>
                <input type="radio" name="verdi" value="4"/> 4<span class="space"></span>
                <input type="radio" name="verdi" value="5"/> 5
            </p>
            <input type="hidden" name="prosjektid" th:value="${prosjekt.prosjektid}">
            <input type="hidden" name="arrangementid" th:value="${arrangement.arrangementid}">
            <input type="hidden" name="epost" th:Value="${session.epost}">
            <p><input type="submit" value="Registrer stemme"/></p>

            <div class="col-md-12 text-center">
                <a href="/" class="btn btn-outline-secondary btn-lg">Tilbake til startsiden</a>
            </div>
        </form>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<img th:src="@{~/{fil}(fil=${prosjekt.backgroundurl})}" alt="">

</body>
</html>