<!doctype html>
<html lang="en">
<head xmlns:th="http://thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prosjektoversikt</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-hvl ">
    <a class="navbar-brand" href="#">
        <img src="/images/hvl.svg" alt="logo" width="200" height="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon ">
            <i class="fg-hvl">Meny</i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/">Startsiden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrift/add">Registrer bedrift</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekt/add">Registrer prosjekt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/statistikk">Sjekk statistikk</a>
            </li>
        </ul>
    </div>
</nav>
<h1 class="display-4">Deltagelser</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" data-pattern="priority-columns">
                <table summary=" "
                       class="table table-bordered table-hover">
                    <caption class="text-center"> </caption>
                    <thead class="thead-light">

                    <tr>
                        <th>navn</th>
                        <th>beskrivelse</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deltagelse: ${deltagelser}">
                        <th th:text="${deltagelse.arrangement.arrangementnavn}"></th>
                        <th th:text="${deltagelse.arrangement.arrangementbeskrivelse}"></th>
                        <th th:text="${deltagelse.arrangement.arragementetutgaar}"></th>
                        <td><a th:href="@{${prosjekt.prosjektid}} + '/arrangement/' + ${deltagelse.arrangement.arrangementid}">>></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="/" class="btn btn-outline-primary btn-lg">Tilbake til startsiden</a>
        </div>
    </div>
</div>
</body>
</html>