<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrer bedrift</title>
    <link rel="stylesheet" type="text/css" href="../../css/registrering.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
    <h1>Register bedrift</h1>
    <form method="post" action="/bedrift/add">
        <p>Navn på bedrift: <input type="text" value="" name="bedriftnavn" placeholder="Navn på bedrift"></p>
        <p>Beskrivelse av bedrift: <input type="text" value="" name="bedriftbeskrivelse" placeholder="Kort beskrivelse av bedrift"></p>
        <p><input type="reset" value="Reset"/><input type="submit" value="Submit"/></p>

    </form>

</body>
</html>
-->

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Registrer bedrift</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/registrering.css" rel="stylesheet">
</head>
<body class="text-center">

<form class="form-signin" method="post" action="/bedrift/add">
    <img class="mb-4" src="/images/hvl.svg" alt="" width="300" height="200">
    <h1 class="h3 mb-3 font-weight-normal text-white">Registrer bedrift</h1>
    <label for="inputNavn" class="sr-only">Navn</label>
    <input type="text" id="inputNavn" class="form-control" name="bedriftnavn" placeholder="Navn på bedrift" required="" autofocus="">
    <br>
    <label for="inputBeskrivelse" class="sr-only">Beskrivelse</label>
    <input type="text" id="inputBeskrivelse" class="form-control" name="bedriftbeskrivelse" placeholder="Kort beskrivelse av bedrift" required="" autofocus="">
    <br>
    <button class="btn btn-lg btn-outline-success btn-block text-white" type="submit">Registrer bedrift</button>
    <a class="btn btn-lg btn-outline-light btn-block" href="/">Tilbake til startsiden</a>
</form>
</body>
</html>