h1 {

    text-align: center;
    font-style: normal;
}
.table-bordered {
    border: 1px solid #ddd !important;
}


table caption {
    padding: .5em 0;
}

@media screen and (max-width: 767px) {
    table caption {
        display: none;
    }
}

.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
}
/*
 a {
    display: block;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
    font-style: italic;
    padding: 5px;
    width: 80%;
    text-align: center;
     position: center;
}
a:hover {
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}
*/
