body {
    font-family: 'oxygen';
    margin: 0 auto;
    padding: 25px;
}

h1.title {
    font-size: 40px;
    text-align: center;
    color: navy;
}

.underTitle {
    font-size: 32px;
    text-align: center;
    color: navy;
}

.space {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    text-align: center;
    font-size: 28px;
}

div.gallery {
    margin: 5px;
    border: 2px solid #fff;
    float: left;
    width: 250px;
}
div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.2;
}
div.gallery img {
    width: 100%;
    height: auto;
    opacity: 1;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-style: italic;
}