body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: navy;
}

ul.topnav li a.active {
    background-color: black;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

h1 {
    font-size: 40px;
    text-align: center;
    color: navy;
    padding-top: 10px;
}

h3 {
    text-align: center;
    color: navy;
}

/*
body {
    font-family: 'oxygen';
    margin: 0 auto;
    padding: 25px;
}
*/

.underTitle {
    font-size: 32px;
    text-align: center;
    color: navy;
}

.space {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    text-align: center;
    font-size: 28px;
}

div.gallery {
    margin: 5px;
    border: 2px solid #fff;
    float: left;
    width: 250px;
}
div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.2;
}
div.gallery img {
    width: 100%;
    height: auto;
    opacity: 1;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-style: italic;
}
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
