h1 {
    font-size: 40px;
    text-align: center;
    color: navy;
}

h3 {
    text-align: center;
    color: navy;
}

body {
    font-family: 'oxygen';
    margin: 0 auto;
    padding: 25px;
}

.underTitle {
    font-size: 32px;
    text-align: center;
    color: navy;
}

.space {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    text-align: center;
    font-size: 28px;
}

div.gallery {
    margin: 5px;
    border: 2px solid #fff;
    float: left;
    width: 250px;
}
div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.2;
}
div.gallery img {
    width: 100%;
    height: auto;
    opacity: 1;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-style: italic;
}
* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
