h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 49%;

    padding: 14px 20px;
    margin: 6px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
input[type=reset] {
    width: 49%;

    padding: 14px 20px;
    margin: 6px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #B8B8B8;
}
input[type=reset]:hover {
    background-color: #B8B8B8;
}
div {
    align-content: center;
    border-radius: 5px;
    background-color: #E2ECFF;
    padding: 20px;
}