<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forsiden</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-hvl ">
    <a class="navbar-brand" href="https://www.hvl.no/">
        <img src="/images/hvl.svg" alt="logo" width="200" height="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon ">
            <i class="fg-hvl">Meny</i>
        </span>
    </button>
    <div th:switch="${level}" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul th:case="1" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrift/add">Registrer bedrift</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekt/add">Registrer prosjekt</a>
            </li>

            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/logout">Logg ut</a>
            </li>
        </ul>
        <ul th:case="2" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" th:href="@{'/dashboard/' + ${prosjektid}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/logout">Logg ut</a>
            </li>
        </ul>
        <ul th:case="*" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekter">Prosjekter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/bedrifter">Bedrifter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/prosjekt/add">Registrer prosjekt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fg-hvl" href="/user/login">Logg inn</a>
            </li>
        </ul>
    </div>
</nav>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bgimg">
    <div class="col-md-5 p-lg-5 mx-auto my-5 padding-md bg-light rounded">
        <h1 class="display-4 font-weight-normal">EXPO 2019</h1>
        <p class="lead font-weight-normal">Bachelor-utstilling på HVL - Høgskulen på Vestlandet.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2" th:each="prosjekt: ${prosjekter}">
            <svg class="rounded-circle" width="140" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <title>..</title>
                <rect width="100%" height="100%" fill="#777" fill-opacity="0.4"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em"></text>
                <image width="185" height="160" th:href="${prosjekt.pictureurl}"></image>
            </svg>
            <h2 th:text="${prosjekt.prosjektnavn}"></h2>
            <p th:text="${prosjekt.prosjektbeskrivelse}"></p>
            <p>
                <a class="btn btn-outline-info" th:href="@{'prosjekt/' + ${prosjekt.prosjektid}}">Gå til prosjekt</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>