<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forsiden</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li class="right"><a href="#about">Om</a></li>
</ul>

<h1>Velkommen til forsiden</h1>
<h3>Oversikt over alle prosjekter og bedrifter</h3>
<div>
    <div class="responsive">
        <div class="gallery">
            <a target="" href="/prosjekter">
                <img src="/images/hvl1.jpg" alt="Hvl" width="600" height="400">
            </a>
            <div class="desc"> Prosjekter</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="" href="/bedrifter">
                <img src="/images/bedrift.jpg" alt="Bedrifter" width="600" height="400">
            </a>
            <div class="desc"> Bedrifter</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="" href="/bedrift/add">
                <img src="/images/nybed.jpg" alt="Ny bedrift" width="600" height="400">
            </a>
            <div class="desc"> Registrer din bedrift her</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target=""  href="/prosjekt/add">
                <img src="/images/bedrift.jpg" alt="Bedrifter" width="600" height="400">
            </a>
            <div class="desc"> Registrer ditt prosjekt her</div>
        </div>
    </div>

    <div class="gallery">
        <a target="" href="/statistikk">
            <img src="/images/stat.jpg" alt="Statistikk" width="600" height="400">
        </a>
        <div class="desc"> Sjekk statistikken</div>
    </div>
</div>
<div class="clearfix"></div>

<!--   <ul>
       <li><a href="/prosjekter"/>Prosjekter</li>
       <li><a href="/bedrifter"/>Bedrifter</li>
       <li><a href="/bedrift/add">Registrer din bedrift her</a></li>
       <li><a href="/prosjekt/add">Registrer ditt prosjekt her</a></li>
       <li><a href="/statistikk"/>Sjekk statistikken</li>🤞
   </ul>
   -->
</div>

</body>
</html>