<!doctype html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forsiden</title>
   <!-- <link rel="stylesheet" type="text/css" href="../../css/main.css">-->
</head>
<body>
    <h1>Velkommen til forsiden!</h1>
    <h3>Linker oversikt av alle prosjekter og bedrifter++?</h3>
    <div>
        <ul>
            <li><a href="/prosjekter"/>Prosjekter</li>
            <li><a href="bedrifter.html"/>Bedrifter</li>
        </ul>
    </div>

</body>
</html>