<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/stem" method="post">
    <h1 class="title"> EXPO vurdering </h1>
    <h1 class="title"> Oppgave navn: </h1>
    <p th:inline="text">[[${prosjekt.prosjektnavn}]]</p>
    <h1 class="title"> Beskrivelse: </h1>
    <p th:inline="text">[[${prosjekt.prosjektbeskrivelse}]]</p>
    <h1 class="title"> Samarbeidspartner </h1>
    <p th:inline="text">[[${samarbeidspartner.bedriftnavn}]]</p>

    <p>Avgi stemme</p>
    <p><input type="radio" name="verdi" value="1"/> 1 </p>
    <p><input type="radio" name="verdi" value="2"/> 2 </p>
    <p><input type="radio" name="verdi" value="3" checked/> 3 </p>
    <p><input type="radio" name="verdi" value="4"/> 4 </p>
    <p><input type="radio" name="verdi" value="5"/> 5 </p>
    <input type="hidden" name="prosjektid" th:value="${prosjekt.prosjektid}">
    <input type="hidden" name="epost" th:Value="${session.epost}">
    <p><input type="submit" value="Registrer stemme"/></p>
    <p style="font-size:12px;text-align:right;"><a th:href="@{${prosjekt.prosjektid} + '/qr'}"/>QR koden</p>
</form>
</body>
</html>