<!doctype html>
<html lang="en">
<head xmlns:th="http://thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prosjektoversikt</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>navn</th>
        <th>beskrivelse</th>
    </tr>
    <tr th:each="prosjekt: ${prosjekter}">
        <td th:text="${prosjekt.prosjektid}"></td>
        <td th:text="${prosjekt.prosjektnavn}"></td>
        <td th:text="${prosjekt.prosjektbeskrivelse}"></td>
    </tr>
</table>
</body>
</html>