<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrer bedrift</title>
</head>
<body>
    <form action="RegistrerBedrift" method="post">
        <fieldset><legend><b>Register bedrift:</b></legend>
            <p>Navn på bedrift: <input type="text" name="bedriftnavn" value=""></p>
            <p>Beskrivelse av bedrift:</p>
            <textarea rows="4" cols="50" name="beskrivelse" value=""></textarea>
            <input type="submit" value="Registrer">
        </fieldset>


    </form>

</body>
</html>