<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrer bedrift</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
    <h1>Register bedrift:</h1>
    <form method="post" action="/bedrift/add">
        <p>Navn på bedrift: <input type="text" value="" name="bedriftnavn" placeholder="Navn på bedrift"></p>
        <p>Beskrivelse av bedrift: <input type="text" value="" name="bedriftbeskrivelse" placeholder="Kort beskrivelse av bedrift"></p>
        <p><input type="submit" value="Submit"/><input type="reset" value="Reset"/></p>

    </form>

</body>
</html>