<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Filopplasting</h1>

<form method="POST" th:action="@{'/prosjekt/' + ${id} +'/arrangement/' + ${aid} + '/upload'}"
      enctype="multipart/form-data">
    <label>Bakgrunn</label>
    <input type="file" name="background" accept="image/png, image/jpeg, image/png, image/gif, image/svg"/><br/><br/>
    <label>Logo</label>
    <input type="file" name="logo" accept="image/png, image/jpeg, image/png, image/gif, image/svg"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>